@import "../styles/css/dark-theme-core.css";
@import "../styles/css/nucleo-icons.css";
@import "../styles/css/nucleo-svg.css";
@import "../styles/css/soft-ui-dashboard.css";

.chart-cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 40px;
}

@media (max-width: 768px) {
  .chart-cont {
    width: 200px;
    grid-template-columns: 1fr;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .chart-cont {
    width: 150px;
    grid-template-columns: 1fr;
    padding: 10px;
  }
}
